body {
  font-family: oswald;
  font-size: 16px;
  margin: 0;
  padding: 0;
  height: 200vh;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #faf2f3;
}

body a {
  text-decoration: none;
  cursor: pointer;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #faf2f3;
  color: #59171c;
}

header div {
  font-size: 1.5rem;
  padding: 20px;
  width: 30%;
}

header nav {
  width: 60%;
  padding: 10px;
}

header nav ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

header nav ul li {
  margin-left: auto;
  margin-right: auto;
}

main {
  background-color: #faf2f3;
}

main section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  overflow: hidden;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 2vh;
}

main section div.header {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 1.5rem;
  letter-spacing: 0.2rem;
  word-spacing: 0.5rem;
  font-weight: 400;
  padding: 3vh;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
}

main section div.info {
  text-align: center;
  padding: 2vh;
  text-align: justify;
  font-weight: 300;
}

main section.hello {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
  height: 40vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #faf2f3;
  color: #59171c;
}

main section.hello div.short {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #c6adaf;
  width: 60%;
  height: 100%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  letter-spacing: 1px;
  padding: 20% 2vh 20% 2vh;
  border-radius: 0 10vh 10vh 0;
}

main section.hello img {
  max-width: 50%;
  max-height: 40vh;
  border-radius: 50%;
  border: 1px solid #59171c;
}

main section.about {
  border-radius: 10vh 0 0 10vh;
  background-color: #5d3d40;
  color: #faf2f3;
}

main section.about div.header {
  position: relative;
}

main section.about div.info {
  height: 20vh;
  padding-bottom: 20px;
}

main section.projects {
  background-color: #faf2f3;
  color: #59171c;
}

main section.projects div.header {
  border-radius: 0 10vh 10vh 0;
  background-color: #c6adaf;
}

main section.projects div.project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main section.projects div.project div.title {
  font-size: 1.4rem;
  line-height: 3rem;
}

main section.projects div.project div.gallery {
  font-size: 1.4rem;
}

main section.projects div.project div.info {
  font-size: 1rem;
}

main section.projects div.project div.info a {
  font-weight: 500;
}

main section.projects div.project div.info a:hover {
  color: #c6adaf;
}

main section.progress {
  position: relative;
}

main section.progress div.header {
  background-color: #5d3d40;
  color: #faf2f3;
  border-radius: 10vh 0  0 10vh;
}

main section.progress div.progress-info {
  top: 0;
  left: 0;
}

main section.contact {
  background-color: #faf2f3;
  color: #59171c;
  position: relative;
}

main section.contact div.header {
  border-radius: 0 10vh 10vh 0;
  background-color: #c6adaf;
}

footer {
  background-color: #59171c;
  color: #faf2f3;
}

footer div.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.5rem;
}

footer div.socials a {
  width: 100%;
  color: #faf2f3;
  text-align: center;
  -webkit-transition: .3s;
  transition: .3s;
}

footer div.socials a:hover {
  background-color: #faf2f3;
  color: #59171c;
}

footer div.rights {
  line-height: 2rem;
  font-size: 0.8rem;
  text-align: center;
}
/*# sourceMappingURL=style.css.map */