body {
  font-family: oswald;
  font-size: calc(16px + (24 - 16) * ((100vw - 300px) / (1600 - 300)));
  margin: 0;
  padding: 0;
  height: 200vh;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #faf2f3;
}

body a {
  text-decoration: none;
  cursor: pointer;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  height: 15vh;
  background-color: #faf2f3;
  color: #59171c;
  width: 100%;
}

header .name {
  position: absolute;
  font-size: 2em;
  padding: 5vmin;
  width: 70%;
}

header nav {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  right: 0;
  top: 0;
  width: 25vw;
  background-color: #5d3d40;
  color: #faf2f3;
  border-radius: 0 0  0 25%;
  z-index: 1;
  opacity: 0.9;
  -webkit-transition: .2s;
  transition: .2s;
  padding: 3vh;
}

@media only screen and (min-width: 600px) {
  header nav {
    background-color: yellow;
  }
}

@media only screen and (min-width: 768px) {
  header nav {
    background-color: red;
  }
}

@media only screen and (min-width: 992px) {
  header nav {
    background-color: orange;
  }
}

@media only screen and (min-width: 1200px) {
  header nav {
    background-color: blue;
  }
}

@media only screen and (min-width: 2000px) {
  header nav {
    background-color: darkblue;
  }
}

header nav a {
  margin-top: 0.5vh;
}

header nav a.active {
  color: #c6adaf;
  border-bottom: 1px solid #c6adaf;
}

header nav i.fas {
  position: absolute;
  right: 20%;
  top: calc(25vh + 20px);
  padding: 0.5em;
  font-size: 2em;
  width: 1.05em;
  height: 1.05em;
  line-height: 1em;
  text-align: center;
  z-index: 2;
  border: 1px solid #59171c;
  border-radius: 50%;
  background-color: #faf2f3;
  color: #59171c;
  -webkit-transition: .2s;
  transition: .2s;
}

header nav i.fa-bars:active {
  border: 2px solid #59171c;
}

header nav i.fa-angle-up {
  font-size: 2em;
  top: calc(22vh + 20px);
  border: none;
}

header nav i.fa-angle-up:active {
  color: #59171c;
}

header nav i.off {
  display: none;
}

header nav.off {
  top: -25vh;
}

main {
  background-color: #faf2f3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

main section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  overflow: hidden;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 2vh;
  margin-bottom: 2vh;
}

main section .header {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 1.5em;
  letter-spacing: 0.15em;
  word-spacing: 0.5em;
  font-weight: 400;
  padding: 2vh;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
}

main section .info {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  text-align: center;
  padding: 3vh;
  text-align: justify;
  font-weight: 300;
}

main section.hello {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
  height: 40vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 0;
  background-color: #faf2f3;
  color: #59171c;
}

main section.hello .short {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #c6adaf;
  width: 60%;
  height: 75%;
  letter-spacing: 0.05em;
  padding: 2vmin 2vmin 2vmin 2vmin;
  border-radius: 0 10vh 10vh 0;
}

main section.hello img {
  max-width: 40%;
  max-height: 95%;
  border-radius: 50%;
  border: 1px solid #59171c;
}

main section.about {
  border-radius: 10vh 0 0 10vh;
  background-color: #5d3d40;
  color: #faf2f3;
}

@media only screen and (min-width: 600px) {
  main section.about {
    background-color: yellow;
  }
}

@media only screen and (min-width: 768px) {
  main section.about {
    background-color: red;
  }
}

@media only screen and (min-width: 992px) {
  main section.about {
    background-color: orange;
  }
}

@media only screen and (min-width: 1200px) {
  main section.about {
    background-color: blue;
  }
}

@media only screen and (min-width: 2000px) {
  main section.about {
    background-color: darkblue;
  }
}

main section.about .header {
  position: relative;
}

main section.about .info {
  height: auto;
  padding-top: 0;
}

main section.projects {
  background-color: #faf2f3;
  color: #59171c;
}

main section.projects .header {
  border-radius: 0 10vh 10vh 0;
  background-color: #c6adaf;
}

main section.projects .project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main section.projects .project .title {
  font-size: 1.4em;
  line-height: 3em;
}

main section.projects .project .images img {
  width: 50%;
  padding: 2px;
  -webkit-box-shadow: 0px 0px 5px 0px #59171c;
          box-shadow: 0px 0px 5px 0px #59171c;
  border: 1px solid #59171c;
  border-radius: 10%;
  cursor: pointer;
}

main section.projects .project div.info {
  font-size: 1em;
}

main section.projects .project div.info a {
  font-weight: 500;
  color: #59171c;
}

main section.projects .project div.info a:hover {
  color: #c6adaf;
}

main section.progress {
  position: relative;
}

main section.progress .header {
  background-color: #5d3d40;
  color: #faf2f3;
  border-radius: 10vh 0  0 10vh;
}

@media only screen and (min-width: 600px) {
  main section.progress .header {
    background-color: yellow;
  }
}

@media only screen and (min-width: 768px) {
  main section.progress .header {
    background-color: red;
  }
}

@media only screen and (min-width: 992px) {
  main section.progress .header {
    background-color: orange;
  }
}

@media only screen and (min-width: 1200px) {
  main section.progress .header {
    background-color: blue;
  }
}

@media only screen and (min-width: 2000px) {
  main section.progress .header {
    background-color: darkblue;
  }
}

main section.progress .progress-info {
  top: 0;
  left: 0;
  width: 80%;
}

main section.contact {
  background-color: #faf2f3;
  color: #59171c;
  position: relative;
}

main section.contact .header {
  border-radius: 0 10vh 10vh 0;
  background-color: #c6adaf;
}

main section.contact .contact-form {
  width: 100%;
  height: 70vh;
}

footer {
  background-color: #59171c;
  color: #faf2f3;
}

footer .socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.5em;
}

footer .socials a {
  width: 100%;
  color: #faf2f3;
  text-align: center;
  -webkit-transition: .3s;
  transition: .3s;
}

footer .socials a:hover {
  background-color: #faf2f3;
  color: #59171c;
}

footer .rights {
  line-height: 2em;
  font-size: 0.8em;
  text-align: center;
}

@media only screen and (min-width: 768px) {
  header {
    left: 5vw;
    width: 60%;
  }
}

@media only screen and (min-width: 992px) {
  header {
    left: 10vw;
    right: 60%;
  }
}

@media only screen and (min-width: 1200px) {
  header {
    left: 18vw;
    right: 60%;
  }
}

@media only screen and (min-width: 768px) {
  header nav {
    width: 30%;
    right: 10vw;
    border-radius: 0 0  40% 50%;
  }
}

@media only screen and (min-width: 992px) {
  header nav {
    width: 75%;
  }
}

@media only screen and (min-width: 1200px) {
  header nav {
    width: 50%;
  }
}

@media only screen and (max-width: 600px) {
  aside {
    -ms-flex-preferred-size: 0%;
        flex-basis: 0%;
  }
}

@media only screen and (min-width: 600px) {
  aside {
    -ms-flex-preferred-size: 0%;
        flex-basis: 0%;
  }
}

@media only screen and (min-width: 768px) {
  aside {
    -ms-flex-preferred-size: 30vw;
        flex-basis: 30vw;
  }
}

@media only screen and (min-width: 992px) {
  aside {
    -ms-flex-preferred-size: 35vw;
        flex-basis: 35vw;
  }
}

@media only screen and (min-width: 1200px) {
  aside {
    -ms-flex-preferred-size: 40vw;
        flex-basis: 40vw;
  }
}

main section div.header {
  border-radius: 10vh;
}

main section.projects div.header {
  border-radius: 10vh;
}

main section.progress div.header {
  border-radius: 10vh;
}

main section.contacts div.header {
  border-radius: 10vh;
}
/*# sourceMappingURL=style.css.map */