main 
    background-color: $color5
    display: flex
    flex-direction: row
    section
        display: flex
        flex-direction: column
        text-align: center
        overflow: hidden
        align-items: center
        justify-content: space-around
        margin-top: 2vh
        margin-bottom: 2vh

        .header
            box-sizing: border-box
            font-size: 1.5em
            letter-spacing: 0.15em
            word-spacing: 0.5em
            font-weight: 400
            padding: 2vh
            width: 100%
            text-align: center
            text-transform: uppercase
        .info
            box-sizing: border-box
            width: 100%
            text-align: center
            padding: 3vh
            text-align: justify
            font-weight: 300
    section.hello
        display: flex
        flex-direction: row
        position: relative
        height: 40vh
        align-items: center
        justify-content: space-between
        margin-top: 0
        +colorSet1
        .short 
            box-sizing: border-box
            display: flex
            flex-direction: column
            align-items: center
            justify-content: center
            background-color: $color4
            width: 58%
            height: 75%
            letter-spacing: 0.05em
            padding: 2vmin 2vmin 2vmin 2vmin
            border-radius: 0 10vh 10vh 0          
        img
            max-width: 40%
            max-height: 95%
            border-radius: 50%
            border: 1px solid $color1
    section.about
        border-radius: 10vh 0 0 10vh
        +colorSet2
        .header
            position: relative
        .info
            height: auto
            padding-top: 0
            text-align: center
    section.projects
        +colorSet1
        .header
            border-radius: 0 10vh 10vh 0 
            background-color: $color4
        .project
            display: flex
            flex-direction: column                
            .title
                font-size: 1.4em
                line-height: 3em
            .images
                img
                    width: 50%
                    padding: 2px
                    box-shadow: 0px 0px 5px 0px $color1 
                    border: 1px solid $color1 
                    border-radius: 10%
                    cursor: pointer
            div.info
                font-size: 1em
                a
                    font-weight: 500
                    color: $color1  
                    &:hover
                        color: $color4    
    section.progress
        position: relative
        .header
            +colorSet2
            border-radius: 10vh 0  0 10vh
        .progress-info    
            top: 0
            left: 0
            width: 80%                        
    section.contact
        +colorSet1
        position: relative
        .header
            border-radius: 0 10vh 10vh 0 
            background-color: $color4
        .contact-form
            width: 100%
            height: 70vh