header    
    +respond(m)
        left: 5vw
        width: 60%
    +respond(l)
        left: 10vw
        right: 60%
    +respond(xl)
        left: 18vw
        right: 60%

    nav
        +respond(m)
            width: 30%
            right: 10vw
            border-radius: 0 0  40% 50%
        +respond(l)
            width: 75%
        +respond(xl)
            width: 50%

aside
    +respond(xs)
        flex-basis: 0%
    +respond(s)
       flex-basis: 0%
    +respond(m)
       flex-basis: 30vw
    +respond(l)
       flex-basis: 35vw
    +respond(xl)
       flex-basis: 40vw
main
    section
        div.header
            border-radius: 10vh
            // div.header
            //     border-radius: 10vh
            // div.info
            //     +respond(m)
            //         width: 90%
            //     +respond(l)
            //         width: 75%
            //     +respond(xl)
            //         width: 50%


main
    section
        // &.about
        //     div.header
        //         border-radius: 10vh
        &.projects
            div.header
                border-radius: 10vh
        &.progress
            div.header
                border-radius: 10vh
        &.contacts 
            div.header
                border-radius: 10vh


