header
    display: flex
    flex-direction: row
    justify-content: space-between
    position: relative
    height: 15vh
    background-color: $color5
    color: $color1
    width: 100%

    .name
        position: absolute
        font-size: 2em
        padding: 5vmin
        width: 70%
            
    nav 
        position: fixed
        display: flex
        flex-direction: column
        align-items: center
        // justify-content: flex-start
        box-sizing: border-box
        right: 0
        top: 0
        width: 25vw
        +colorSet2()
        border-radius: 0 0  0 25%
        z-index: 1
        opacity: 0.9
        transition: .2s
        padding: 3vh

        a
            margin-top: 0.5vh
        a.active
            color: $color4
            border-bottom: 1px solid $color4
        i.fas   
            position: absolute
            right: 20%
            top: calc(25vh + 20px)
            padding: 0.5em
            font-size: 2em
            width: 1.05em
            height: 1.05em
            line-height: 1em
            text-align: center
            z-index: 2
            border: 1px solid $color1
            border-radius: 50%
            +colorSet1()
            transition: .2s
        i
            &.fa-bars:active
                border: 2px solid $color1 
            &.fa-angle-up 
                font-size: 2em
                top: calc(22vh + 20px)
                border: none
                

                &:active
                    color: $color1
            &.off 
                display: none
                
            

    nav.off 
        top: -25vh
