header
    display: flex
    flex-direction: row
    justify-content: space-between
    position: relative
    height: 15vh
    background-color: $color5
    color: $color1
    width: 100%

    div.name
        position: absolute
        font-size: 2em
        padding: 5vmin
        width: 70%
        

    i.fas   
        position: fixed
        right: 1.5vh
        top: 5vh
        padding: 0.5em
        font-size: 2em
        z-index: 2
        border: 1px solid $color1
        border-radius: 50%
        transition: .2s
    i
        &.fa-bars:active
            border: 2px solid $color1 
        &.fa-angle-up 
            top: 16vh
            right: 7.5vh
            transform: translate(50%, 50%)
            color: $color5
            border: none
            padding: 0

            &:active
                color: $color1
        &.off 
            display: none
            
    nav 
        position: fixed
        display: flex
        flex-direction: column
        align-items: center
        justify-content: flex-start
        right: 0
        top: 0
        width: 15vh
        height: 25vh
        +colorSet2()
        border-radius: 0 0  0 25%
        z-index: 1
        opacity: 0.9
        transition: .2s
        a
            margin-top: 0.5vh
        a.active
            color: $color4
            border-bottom: 1px solid $color4
            

    nav.off 
        top: -25vh
