@import 'variables'
@import 'mixins'

body 
       font-family: oswald
       font-size: calc(16px + (24 - 16) * ((100vw - 300px) / (1600 - 300)))
       margin: 0
       padding: 0
       height: 200vh
       box-sizing: border-box
       background-color: $color5
       a
              text-decoration: none
              cursor: pointer



@import 'nav'
@import 'main'
@import 'footer'
@import 'media'

    