@import 'variables'
@import 'mixins'

body 
       font-family: oswald
       font-size: 16px
       margin: 0
       padding: 0
       height: 200vh
       box-sizing: border-box
       background-color: $color5
       +respond(xs)
    
       +respond(s)
        font-size: 20px
       +respond(m)
        font-size: 24px
       +respond(l)
        font-size: 28px
       +respond(xl)
        font-size: 36px
       a
              text-decoration: none
              cursor: pointer


@import 'nav'
@import 'main'
@import 'footer'